.chat {
  width: 70%;
  height: 100%;
  border-right: 1px solid rgb(228, 228, 228);
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.chat__heading {

}

.chat__message-container {

}

.chat__input {
  transition: ease-in-out 0.1s;
  box-sizing: border-box;
  margin-top: 5px;
  width: 85%;
  height: 30px;
  border: 1px solid #DADADA;
  background-color: #F7F7F7;
  outline: none;
  padding-left: 5px;
  margin-bottom: 20px;
  position: absolute;
  bottom: 0;
}

.chat__input:focus {
  border: 1px solid #c6c6c6;
  background-color: #e3e3e3;
}

.chat__send {
  transition: ease-in-out 0.275s;
  position: absolute;
  margin-bottom: 20px;
  margin-right: 40px;
  height: 30px;
  bottom: 0;
  width: 75px;
  left: calc(85% + 30px);
}

.chat__send--hidden {
  opacity: 0;
  pointer-events: none;
}

.chat__message-join {
  padding-bottom: 20px;
}

.chat__message {
  display: block;
}

.chat__delete {
  position: absolute;
  top: 23px;
  right: 38px;
  box-sizing: border-box;
  width: 120px;
  text-align: center;
  transition: ease-in-out 0.2s;
  user-select: none;
  border: 1px solid rgba(217, 73, 71, 0.68);
  background-color: #ffbaa8;
  padding: 5px 0 5px 0;
  margin: 15px auto 0 auto;
  border-radius: 2px;
}

.chat__delete:hover {
  cursor: pointer;
  border: 1px solid rgba(203, 74, 72, 0.9);
  background-color: #ff9685;
}